[user]
	name = gemhung
	email = gembright.stone.hung@gmail.com
[alias]
    uu = status -u
    ck = checkout
    graph = log --graph --abbrev-commit --date=relative --pretty=format:'%C(cyan)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(auto)-%d%C(reset) %C(dim white)%an%C(reset)'
	co = checkout
	st = status
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[pull]
	rebase = false
